      <!-- Modal Button -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Update</a>

  <!-- Modal Body -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Update</h4>
	 <div class="col s12">

     <div id="Edit Form" class="">
		<form class="" method="POST" action="/Userbookings">
      
    <div "input-field col s12" >
     <input id="roomType"  type="text" class="validate">
     <label for="roomType">Room Type</label>  
     </div>
        </div>
        <div class="input-field col s12">
          <input id="roomNumber" type="text" class="validate">
          <label for="roomNumber">Room Number</label>
        </div>
        <div class="input-field col s12">
            <input type="date" id="trip-start" name="trip-start" value="2021-03-27" min="2021-01-01" max="2025-12-31">
            <label for="start">Start date:</label>
        </div>
        <div class="input-field col s12">
            <input type="date" id="trip-end" name="trip-end" value="2021-03-27" min="2021-01-01" max="2025-12-31">
            <label for="end">End date:</label>
        </div>
     
		 <div class="input-field col s12">
          <button type="submit" class="waves-effect waves-light btn">Update</button>
        </div>         
      </div>	
      </form>
     </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div> 
    

           <!-- Modal Button -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Delete</a>

  <!-- Modal Body -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Delete</h4>
	 <div class="col s12">

     <div id="Delete Form" class="">
		<form class=""method="POST" action="/Userbookings">
      
        <div class="input-field col s6">
          <input id="roomType" type="text" class="validate">
          <label for="roomType">Room Type</label>
        </div>
        <div class="input-field col s12">
          <input id="roomNumber" type="text" class="validate">
          <label for="roomNumber">Room Number</label>
        </div>
            </div>
        <div class="input-field col s12">
            <input type="date" id="trip-start" name="trip-start" value="2021-03-27" min="2021-01-01" max="2025-12-31">
            <label for="start">Start date:</label>
        </div>
        <div class="input-field col s12">
            <input type="date" id="trip-end" name="trip-end" value="2021-03-27" min="2021-01-01" max="2025-12-31">
            <label for="end">End date:</label>
        </div>
		 <div class="input-field col s12">
          <button type="submit" class="waves-effect waves-light btn">Delete</button>
        </div> 
      </div>	
      </form>
     </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div> 