{% extends "Layout.html" %}
{% block head %}

{% endblock %}

{% block title %}About{% endblock %}

{% block style %} 
  body{
  background-color: rgb(39, 38, 38);
}
  
  .center {
    text-align: center; 
    color: white;
    }
{% endblock %}

{{ super() }}

{% block content %}

<div class="center">
	<h2>About Us</h2>

  <p>The Paradise Hotel is committed to building long-term relationships with its guests and members by offering highly personalized service<br> and gracious hospitality in a relaxed, elegant atmosphere.</p>
	<p> For travellers looking for a truly memorable dream vacation in the sun while enjoying a pristine clean seaside as well as the beauty and History of the Caribbean,<br>

<p>Paradise Hotel boasts spectacular views overlooking the sea and the Caribbean Islands. Guests will be sure to enjoy the tastefully decorated,<br> bright and modern decor of Paradise Hotel, consisting of 20 guest rooms including suites all of which offer a variety of amenities.</p>

<p>
A family holiday in the Caribbean Islands<br>

<p>
Paradise Hotel offers a variety of guest rooms including single rooms, double rooms and luxurious premium suites.</p>
</div>

    

{% endblock %}