{% extends "Layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='Book.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
{% endblock %}
{% block title %} Book {% endblock %}

{% block style %}
  body{
    background-color: rgb(39, 38, 38);
  }
{% endblock %}
{{ super() }}

{%  block content%}
     
        <style>

        .search-container{
            background-color:white;
            opacity: 0.9;
            //height: 50%;
            //width: 50px:
            height: 50%;
            width: 50%;

            position: fixed;
            top: 50%;
            left: 50%;
  
            transform: translate(-50%, -50%);

        }
        </style>

        <div class = "search-container">

           <form method="POST" action="/book/{{roomType}}/{{roomNumber}}">
                
            <label for="start">Start date:</label>
            <input type="date" id="trip-start" name="trip-start" value="2021-03-27" min="2021-01-01" max="2025-12-31">
            
            <label for="end">End date:</label>
            <input type="date" id="trip-end" name="trip-end" value="2021-03-27" min="2021-01-01" max="2025-12-31">

                <!--
                    <label for="filters">Sort by:</label>
                    <select id="filters" name="filters" class="grey waves-effect waves-light btn">
                        <option value="None">None</option>
                        <option value="Price">Price</option>
                    </select>
                     
                    <p>
                        <label>
                          <input type="checkbox" />
                          <span>View</span>
                        </label>
                    </p>
                    <p>
                        <label>
                          <input type="checkbox" />
                          <span>Double Beds</span>
                        </label>
                    </p>
                    <p>
                        <label>
                          <input type="checkbox" />
                          <span>Room Service</span>
                        </label>
                    </p>
                
                  -->
                  <!--
                  <button class="waves-effect waves-light btn-large" type="submit" name="action">Book!</button>
                  -->
                    <button href="/MyBookings" class="waves-effect waves-light btn-large" type="submit" >Book!</button>
            </form>

                

           

        </div>

        <div class = "results-container">

        </div>

 {%   endblock   %}