{% extends "Layout.html" %}
{% block head %}

{% endblock %}
{% block title %} {{roomType}} {% endblock %}

{% block style %}
   body{

  background-color: rgb(39, 38, 38);
}

{% endblock %}

{{ super() }}

{%  block content%}


    <style>


    
    .room-container{
        background-color:white;
        opacity: 0.9;
          //padding: 20px;

        //height: 50%;
        //width: 50%;

       // position: fixed;
        ///top: 50%;
       // left: 50%;
  
      // transform: translate(-50%, -50%);  
      }

 
    .room-child {
      width: 50%;
      float: left;
      padding: 20px;
      background-color:white;
      opacity: 0.9;
      //height: 100%;
    }



    </style>


<div class="room-container">

  {% if rooms == none %}
    <div class="room-child">

    {% if roomType == "Single" %}
     <img src="{{url_for('static', filename='singleRoom.png')}}" style="width:100%"/>
    {% endif %}

    {% if roomType == "Double" %}
    <img src="{{url_for('static', filename='doublebedRoom.png')}}" style="width:100%"/>
    {% endif %}

    {% if roomType == "Luxury" %}
    <img src="{{url_for('static', filename='luxuryRoom.png')}}" style="width:100%"/>
    {% endif %}

    {% if roomType == "Queen" %}
     <img src="{{url_for('static', filename='queenbedRoom.png')}}" style="width:100%"/>
    {% endif %}
    
  </div>

<div class = "room-child">
    <h4 style = "font-weight: bold;  text-decoration: underline;  text-align: center;" > No More Rooms </h4>
   
    <p style= "font-weight:bold" >Number of Available Rooms: {{roomCount}}</p>
  
  <!--
    <p> Room Type : {{rooms.roomType}} </p>
    <p> Room Rate : {{rooms.roomRate}} </p>
  -->
    {% if current_user.is_authenticated %}
      <a href="/rooms" class="waves-effect waves-light btn">Return to Rooms</a>
    {%  else %}
      <a href="/loginForm" class="waves-effect waves-light btn">Book</a>          
    {% endif %}
    


  {% else %}

  <div class="room-child">

    {% if roomType == "Single" %}
     <img src="{{url_for('static', filename='singleRoom.png')}}" style="width:100%"/>
    {% endif %}

    {% if roomType == "Double" %}
    <img src="{{url_for('static', filename='doublebedRoom.png')}}" style="width:100%"/>
    {% endif %}

    {% if roomType == "Luxury" %}
    <img src="{{url_for('static', filename='luxuryRoom.png')}}" style="width:100%"/>
    {% endif %}

    {% if roomType == "Queen" %}
     <img src="{{url_for('static', filename='queenbedRoom.png')}}" style="width:100%"/>
    {% endif %}
    
  </div>

  <div class = "room-child">

   
    <p style= "font-weight:bold" >Number of Available Rooms: {{roomCount}}</p>
  
    <p> Room Type : {{rooms.roomType}} </p>
    <p> Room Rate : ${{rooms.roomRate}} </p>

    {% if current_user.is_authenticated %}
      <a href="/book/{{rooms.roomType}}/{{rooms.roomNumber}}" class="waves-effect waves-light btn">Book</a>
    {%  else %}
      <a href="/loginForm" class="waves-effect waves-light btn">Book</a>          
    {% endif %}
    
  </div>


  {% endif %}

</div>




{% endblock %}