{% extends "Layout.html" %}
{% block head %}

{% endblock %}
{% block title %} {{roomType}} {% endblock %}

{% block style %}
   body{

  background-color: rgb(39, 38, 38);
}

{% endblock %}

{{ super() }}

{%  block content%}


    <style>


    



    </style>

  <nav class="black" >
          <!-- To enter Our WebSite Name   !-->
          
          
            <div id="nav-bar" class="nav-content">
                <ul class="tabs tabs-transparent">
                  <li class="tab"><a  href="/" >Home</a></li>
                  <li class="tab" ><a class="active" href="/rooms" >Room</a></li>
                  <li class="tab"><a  href="/about" >About</a></li>
                  <li class="tab"><a  href="/loginForm" >Login</a></li>
                </ul>
              </div>

</nav>

<div class = "room-container">

  {% if rooms == none %}
    <p> No More Rooms </p>
  {% else %}

    {% if roomType == "Single" %}
     <img src="{{url_for('static', filename='singleRoom.png')}}" style="width:100%"/>
    {% endif %}

    {% if roomType == "Double" %}
    <img src="{{url_for('static', filename='doublebedRoom.png')}}" style="width:100%"/>
    {% endif %}

    {% if roomType == "Luxury" %}
    <img src="{{url_for('static', filename='luxuryRoom.png')}}" style="width:100%"/>
    {% endif %}

    {% if roomType == "Queen" %}
     <img src="{{url_for('static', filename='queenbedRoom.png')}}" style="width:100%"/>
    {% endif %}

    <p> Room Type : {{room}} </p>
    <p> Room Rate : $700 </p>
    <a href="" class="waves-effect waves-light btn">Book</a>

  {% endif %}

</div>


{% endblock %}